.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #333;
  --text-secondary: #999;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  max-width: 60rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  margin: 0 auto;
  text-align: center;
}

.logo h1 {
  background: linear-gradient(45deg, #fada61 0%, #ff9188 50%, #ff5acd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
}

.userComment {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.userTextarea {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background: #fce7f3;
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 1.5;
  resize: none;
}

.userTextarea::placeholder {
  color: #999;
}

.userTextarea:focus {
  outline: 2px solid #f472b6;
}

.buttonSubmit {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: var(--text-primary);
  border: none;
  border-radius: 1rem;
  background: #f9a8d4;
  transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
  background: #f472b6;
}

.resComment {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.resText {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  max-height: 10rem;
  width: auto;
  display: inline-block;
  color: var(--text-primary);
  font-size: 1rem;
  background: #ffedd5;
  border-radius: 1rem;
}

.resText:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1rem;
  border: 1rem solid transparent;
  border-top: 16px solid #ffedd5;
}

.resText p {
  margin: 0;
  padding: 0;
  max-width: 100%;
  word-break: break-all;
}

.siteDescription {
  margin: 0;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  /*
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
    */
}
